<ul id="navigation">
		<li class="sup">
			<a href="#section1">Home</a>
			<ul>
				<li><a href="#section1b">Explorer</a></li>
				<li><a href="#section1c">Programmer</a></li>
			</ul>					
		</li>
		<li class="sup">
			<a href="#section2b">About</a>
			<ul>
				<li><a href="#section2b">Bio</a></li>
				<li><a href="#section2c">Credentials</a></li>
			</ul>	
		</li>
		<li class="sup">
			<a href="#section3b">Contact</a>
			<ul>
				<li><a href="#section3b">Info</a></li>
				<li><a href="#section3c">Message Me</a></li>
			</ul>
		</li>
		<li class="sup">
			<a href="#section4">Launch Academy</a>
			<ul>
				<li><a href="#section4b">Reason 1</a></li>
				<li><a href="#section4c">Reason 2</a></li>
			</ul>
		</li>
		<li class="sup">
			<a href="#section5c">Portfolio</a>
			<ul>
				<li><a href="#section5b">Github</a></li>
				<li><a href="#section5c">Websites</a></li>
			</ul>
		</li>
</ul>

<div id="content">
		<div class="section">
			<ul>
				<li class="sub" id="section1">
					<h2>Welcome</h2>
					<h3>Why I am ready for Launch Academy!</h3>
					<div><%= image_tag 'rocket.png' %></div>
				</li>
				<li class="sub" id="section1b">
					<h2>Explorer</h2>
					<div class="section1b_left"><%= image_tag 'explorer_man.png' %></div>
					<div class="section1b_right"><%= image_tag 'globe.png' %></div>
					<p>Web development allows you to not only better understand how to travel the web, but also improve upon it. It also allows you to work and travel simultaneously.</p>
				</li>
				<li class="sub" id="section1c">
					<h2>Programmer</h2>
					<p>Programing is building a mind that can perform without distraction.</p>
					<p>A picture is worth 1,000 words, A movie is worth 1,000,000 pictures, A website is worth 1,000,000,000 interactions.</p>
					<div class="section1c_left"><%= image_tag 'mesh.png' %></div>
				</li>				
			</ul>
		</div>
		<div class="section">
			<ul>
				<li class="sub" id="section2" >
					<h2></h2>
				</li>
				<li class="sub" id="section2b">
					<h2>Van Michael Nguyen</h2>
					<div class="section2b_left">
						<%= image_tag 'van.png', :class => 'bio_picture' %>
					</div>
					<div class="section2b_right">
						<p><b>Bio:</b></p>
						<p>My name is Van and I am a recent graduate of the Babson College class of 2013. My hobbies include skiing, snowboarding, running, frisbee, biking, cooking, and playing the guitar. When I am not outside, I am inside on the computer reading up on new technology or hacking away at rails.</p>
					</div>	
				</li>
				<li class="sub" id="section2c">
					<h2>Credentials</h2>
					<p>Babson College, Wellesley, Massachusetts (Cum Laude, May 2013)</p>
					<p>Bachelor of Science Degree in Business Administration; Concentrations in Economics and Information Technology.</p>
					<p>Università Commerciale Luigi Bocconi, Milan, Italy (Jan 2012-­‐July 2012)</p>
					<p> Student Exchange in Business and Economics: Spring Semester 2012 Relevant Coursework: International Monetary Econ, European Econ Policy, Financial Investments.</p>
				</li>
			</ul>
		</div>
		<div class="section">
			<ul>
				<li class="sub" id="section3">
					<h2></h2>
				</li>
				<li class="sub" id="section3b">
					<h2>Info</h2>
					<p>Email: van.michael.nguyen@gmail.com</p>
					<p>Phone: 781 690 8892</p>
				</li>
				<li class="sub" id="section3c">
					<h2>Message Me</h2>
					<p>Message Form</p>
				</li>								
			</ul>
		</div>
		<div class="section">
			<ul>
				<li class="sub" id="section4">
					<h2>Launch Academy</h2>
					<p>I heard about Launch Academy after attending a few of the Boston Ruby Meetups at Brightcove. After having talked to students about their experience, I realized it was the class for me. </p>
				</li>
				<li class="sub" id="section4b">
					<h2>Programming Habits</h2>
					<p>I want to fix poor programming habits.</p>
					<p>I want to do it the right way not just anyway.</p>
				</li>
				<li class="sub" id="section4c">
					<h2>Proper Testing</h2>
					<p>I want to write maintainable code.</p>
					<p>I want to bench mark performance.</p>
				</li>
			</ul>
		</div>
		<div class="section">
			<ul>
				<li class="sub" id="section5">
					<h2>Portfolio</h2>
				</li>
				<li class="sub" id="section5b">
					<h2>Github</h2>
					<h3><%= link_to 'My Github Account', 'https://github.com/vanmichael' %></h3>
				</li>
				<li class="sub" id="section5c">
					<h2>Websites</h2>
					<p><%= link_to 'Babson Mexico Association', 'http://www.babsonmexico.com/' %></p>
					<p><%= link_to 'Global Catalysts', 'http://www.globalcatalysts.com.mx/' %></p>
					<p><%= link_to 'Milestone Solutions', 'http://www.milestonerecovery.com/' %></p>
					<p><%= link_to 'Arco Web Dev', 'http://www.arcowebdev.com/' %>
				</li>
			</ul>
		</div>
	</div>


